# Dictionaties:

In [3]:
student = {"name":"vishnu","age":20,"courses":["cs","maths"]}
print(student["name"])

vishnu

In [5]:
student = {"name":"vishnu","age":20,"courses":["cs","maths"]}
print(student["name"])
student["grade"]="A"
student["age"]=22
student["courses"]="tamil"
for key,value in student.items():
  print(f"{key}:{value}")

vishnu
name:vishnu
age:22
courses:tamil
grade:A

# Tuples:

In [6]:
coordinates = (10.0,20.0)
print(coordinates[0])
for value in coordinates:
  print(value)

10.0
10.0
20.0

# Functions:

In [10]:
def add_numbers(a,b):
  return a+b

result=add_numbers(10,3)
print(result)

13

In [16]:
def greet(name="priya"):
  print(f"hello",{name})
greet()

hello {'priya'}

# Looping:

In [21]:
cars = ["bmw","ferrori"]
for car in cars:
    print(car)

bmw
ferrori

In [24]:
count=5
while count>0:
    print(count)
    count-=1

5
4
3
2
1